extends layout 

block productos 
    h3(class="container mt-3 mb-3 ")="Vista de Productos"
    table(class="table table-success table-striped")
        thead 
            tr 
                th(scope="col")="Productos"
                th(scope="col")="Productos"
                th(scope="col")="Productos"
        tbody 
            each val in api
                tr 
                    td(scope="row")=val.titulo
                    td="$ " + val.precio 
                    td 
                        img(src=val.url, class="img-thumbnail" style="max-width: 60px ;" alt="Img de " + val.titulo)
    div(class="container mt-3")
        a(href="/" class="btn btn-success")="Cargar Nuevo Producto"